@font-face {
    font-family: "digitalFont";
    src: url("./fonts/digital.ttf");
}

* {
    box-sizing: border-box;
}

body {
    max-block-size: 100vh;
    max-inline-size: 100vw;
    margin: 0;
}

section {
    block-size: 100vh;
    inline-size: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

article {
    block-size: 27rem;
    inline-size: 20rem;
    padding: 1rem;
    padding-block-start: 2rem;
    border: double 0.3rem;
    border-top-width: 2px;
    border-bottom-width: 1rem;
    border-radius: 5px 5px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: hsla(207, 6%, 70%, 1);
    box-shadow: 0 20px 3px 3px hsla(243, 0%, 17%, 0.23);

}

article>input {
    padding-inline: 1rem;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 4px;
    outline: 0.2rem ridge;
    flex: 2;
    font-family: 'digitalFont', monospace;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: black;
    background-color: hsla(140, 14%, 25%, 1);
}

article>div:first-of-type {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

article>div:last-of-type {
    flex: 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0.1rem;
}

button {
    border-radius: 10px;
    background-color: #F0F0F0;
    box-shadow: 0 4px 1px black;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: hsla(165, 4%, 85%, 1);
}

button:disabled {
    background-color: #F0F0F0;
    color: black;
    border-color: black;
}

#dot {
    font-weight: 900;
}